p {
  font-weight: 300;
}

.flex-control-nav {
  bottom: -31px;
}
.paper-options table {
	width: 32%;
	text-align: center;
}
.paper-options table th {
	text-align: center;
}

/*If ideas can move mountains*/
li.item:nth-child(2) > div:nth-child(1) > div:nth-child(1) > h1:nth-child(1) {
	width: 97%;
}

/*Printing with the environment in mind*/
.call_to_action > div:nth-child(1) > h3:nth-child(1) {
	font-size: 46px;
}

/*We offer quality offset*/
.call_to_action > div:nth-child(1) > h4:nth-child(2) {
	font-size: 24px;
}

/*where the star used to be*/
section.call_to_action {
  padding: 35px 0 45px;
  text-align: center;
}

.tab-content {
  margin-left: 16px;
}

/*dictionary*/
/*div.service_teaser:nth-child(6) > div:nth-child(1) > div:nth-child(2) {
  padding-right: 50px;
}*/

.hgroup h4 {
  font-weight: 100;
  line-height: 32px;
}

.service_teaser.inverted .service_details h2 small {
  padding: 0;
}

.team_member {
  color: #333;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .row.vertical-align {
    display: flex;
    align-items: center;
  }
}

.service_details {
  min-height: 0 !important;
}

.hgroup h2 {
  font-size: 16px;
}

@media screen and (min-width: 394px) {
.navbar .btn-navbar {
    margin-top: 106px;
  }
}

@media screen and (max-width: 480px) {
  #social_media_wrapper {
    display: none;
  }
}
