.green {
	color: #006600;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.panel-title {
	margin-bottom: -20px;
}

.panel-body {
	padding-left: 15px;
	padding-bottom: 2px;
	padding-right: 15px;
	padding-top: 15px;
}