body    { background-color: #000 }
p {}
td {}
.footer  { color: #fff; font-size: 10px; font-family: Helvetica; font-weight: 700; text-decoration: none }
.footer01 { color: #fff; font-size: 10px; font-family: Helvetica; font-weight: 700; text-decoration: none }
.footer01:hover { color: #fb9530; font-size: 10px; font-family: Helvetica; font-weight: 700 }
.footer02 { color: #fff; font-size: 10px; font-family: Helvetica; font-weight: 700; text-decoration: none }
.footer02:hover  { color: #6b8e23; font-size: 10px; font-family: Helvetica; font-weight: 700 }
.footer03 { color: #fff; font-size: 10px; font-family: Helvetica; font-weight: 700; text-decoration: none }
.footer03:hover  { color: #4682b4; font-size: 10px; font-family: Helvetica; font-weight: 700 }
.footer04 { color: #fff; font-size: 10px; font-family: Helvetica; font-weight: 700; text-decoration: none }
.footer04:hover  { color: #8368a9; font-size: 10px; font-family: Helvetica; font-weight: 700 }
.footer05 { color: #fff; font-size: 10px; font-family: Helvetica; font-weight: 700; text-decoration: none }
.footer05:hover  { color: #84919e; font-size: 10px; font-family: Helvetica; font-weight: 700 }
.body             { color: #e1e1e1; font-size: 12px; font-family: "Lucida Grande"; text-decoration: none; text-align: left; padding-right: 30px; padding-left: 30px }
.body-form  { color: #e1e1e1; font-size: 12px; font-family: "Lucida Grande"; text-decoration: none; text-align: left; padding-right: 30px }
.body-form2 { color: #e1e1e1; font-size: 12px; font-family: "Lucida Grande"; text-decoration: none; text-align: left }
.body-2 { color: #e1e1e1; font-size: 12px; font-family: "Lucida Grande"; text-decoration: none; text-align: left }
.body-2:hover { color: #c93; font-size: 12px; font-family: "Lucida Grande"; text-decoration: none; text-align: left }
.bodya   { color: #e1e1e1; font-size: 12px; font-family: Helvetica; text-decoration: underline; text-align: left }
.bodyb    { color: #e1e1e1; font-size: 12px; font-family: "Lucida Grande"; text-decoration: none; text-align: left }
.bodyb:hover   { color: #84919e; font-size: 12px; font-family: "Lucida Grande"; text-decoration: none; text-align: left }
.bodya:hover   { color: #c93; font-size: 12px; font-family: Helvetica; text-decoration: underline; text-align: left }
.body04  { color: #e1e1e1; font-size: 12px; font-family: Helvetica; text-decoration: none; text-align: left; padding-right: 30px; padding-left: 30px }
.body03  { color: #e1e1e1; font-size: 12px; font-family: Helvetica; text-decoration: none; text-align: left; padding-right: 30px; padding-left: 30px }
.body02  { color: #e1e1e1; font-size: 12px; font-family: Helvetica; text-decoration: none; text-align: left; padding-right: 30px; padding-left: 30px }
.scroll14 { color: #e1e1e1; font-size: 14px; font-family: Helvetica; text-decoration: none; text-align: left; padding-right: 30px; padding-left: 30px }
.textarea { color: #fff; font-size: 12px; font-family: Helvetica; font-weight: 700; text-align: left }
.resourcelink { color: #ff0; font-size: 12px; font-family: Helvetica; font-weight: 700; text-decoration: none; text-align: justify }
.resourcelink:hover { color: #fff; font-size: 12px; font-family: Helvetica; font-weight: 700; text-decoration: none; text-align: justify }
.menulinks  { color: #fff; font-size: 12px; font-family: Helvetica; font-weight: 700; text-decoration: none }
a:hover { color: #000 }
@font-face { font-family: STYLUS; font-style: normal; src: url("http://www.highmountaingraphics.com/STYLUSB0.eot") format("embedded-opentype", "opentype", "truetype"); ont-weight: normal    }
.script   { color: #fff; font-size: 24px; font-family: STYLUS }
.scrollable  { color: #fff; font-size: 12px; font-family: Helvetica; text-decoration: none; padding-right: 10px }
.scrollable-links { color: #fff; font-size: 12px; font-family: Helvetica; text-decoration: none }
.scrollable-links:hover { color: #856bac; font-size: 12px; font-family: Helvetica; text-decoration: none }
.scrollablea  { color: #8368a9; font-size: 12px; font-family: Arial; font-weight: bold; text-decoration: underline }
